<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>746513956891-itcc5vn8lsu9aeatekmpb4j3si8jl11i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746513956891-itcc5vn8lsu9aeatekmpb4j3si8jl11i</string>
	<key>API_KEY</key>
	<string>AIzaSyDlR56g3HtCp-PRPA3ZVVy6ogR9uX-7uYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>746513956891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.universe.MinionLogin</string>
	<key>PROJECT_ID</key>
	<string>friendschat-fa53f</string>
	<key>STORAGE_BUCKET</key>
	<string>friendschat-fa53f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746513956891:ios:cabe60d177a94089</string>
	<key>DATABASE_URL</key>
	<string>https://friendschat-fa53f.firebaseio.com</string>
</dict>
</plist>